<header class=' padding-t-40 padding-b-40 center'> <!-- header section-->
     <p class='black-c arial head-fonts-size bOld margin-b-20'>Client Sign In</p>
     <span class='black-c arial art-fonts-size '>New User ? </span>
     <a class='blue-c arial art-fonts-size a-no-underline ' href='#'>Client Sign Up</a>
     <hr  class='s-hr margin-auto margin-t-20 blue-c'>
</header>
<section class='s-main-contaner margin-auto'><!-- Container -->
     <div><!-- Lock image -->
         <img src='../../assets/Icon/big-lock.png' class='s-lock margin-auto margin-b-20'>
     </div>
     <div> <!--Inputs-->
         <input class='margin-auto s-sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='Email / Phone Number' type='text'>
         <input class='margin-auto s-sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='Password' type='password'>
     </div>

      <div class='margin-auto s-footer-div green-bc'><!--Link & Remember me & Button-->
         <a href='#' class='a-no-underline blue-c margin-b-20 arial'>Forget your Account ?</a>
         <br>
         <input class='s-checkbox margin-t-20 margin-r-20 float-l' type='checkbox'>
         <p class='blue-c arial margin-t-20'>Remember me</p>
         <button class='float-1r s-butt-next p-fonts-size outline-non border-non blue-bc white-c padding-r-20 padding-l-20 shadow-s arial'>Next</button>
      </div>
     <p class='clear-fix'></p>

</section>
