<header class=' padding-t-40 padding-b-40 center'> <!-- header section-->
     <div class='margin-b-20'>
        <p class='blue-c arial head-fonts-size bOld d-inline'>Client</p>
        <p class='black-c arial head-fonts-size bOld d-inline'> Sign In</p>
     </div>
     <span class='black-c arial art-fonts-size '>New User ? </span>
     <a routerLink='/client-sign-up' class='blue-c arial art-fonts-size a-no-underline ' href='#'>Client Sign Up</a>
     <hr  class='s-hr margin-auto margin-t-20 blue-c'>
</header>
<section class='s-main-contaner margin-auto'><!-- Container -->
     <div><!-- Lock image -->
         <img src='../../assets/Icon/big-lock.png' class='s-lock margin-auto margin-b-20'>
     </div>
     <div> <!--Inputs-->
         <input class='margin-auto s-sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='Email / Phone Number' type='text'>
         <input class='margin-auto s-sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='Password' type='password'>
     </div>

      <div class='margin-auto s-footer-div'><!--Link & Remember me & Button-->
         <a href='#' routerLink='/client-restore-account-options' class='a-no-underline blue-c arial'>Forget your Account ?</a>
         <div class='margin-t-20 float-l padding-t-10'>
           <input class='s-checkbox margin-r-10 float-l' type='checkbox'>
           <p class='blue-c arial float-l'>Remember me</p>
         </div>
         <div class='float-r margin-t-20'>
           <button class='s-butt-sign-in p-fonts-size outline-non border-non blue-bc white-c padding-r-20 padding-l-20 margin-l-20 shadow-s arial'>Sign In</button>
         </div>
         <p class='clear-fix'></p>
      </div>
     <p class='clear-fix'></p>

</section>
