<section class='s-container margin-l-200'>
  <section class='s-column float-l'><!--column A-->
    <div class='gray-bc s-object shadow margin-b-20 padding-t-20'><!--object-->
      <div class='s-wrapper margin-l-20'> <!--container (wrapper)-->
        <div class='float-l'><!--client image-->
          <input type='image' class='s-client-img' src='../../assets/Icon/avatar1.png' alt='Avatar'>
        </div>
        <div class='float-l margin-t-20 margin-l-10'><!--client name-->
          <a href='#' class='arial a-no-underline black-c p-fonts-size'>Mahmoud Tawba</a>
          <p class='arial s-p-color small-fonts-size margin-b-10'>studied at 5azan</p>
          <a href='#' class='arial a-no-underline blue-c small-fonts-size'>8 mutual friends</a>
        </div>
      </div>
      <button class='s-accept arial border-non small-fonts-size green-c float-l'>Accept</button><!--accept button-->
      <button class='s-delete arial border-non small-fonts-size red-c float-r'>Delete</button><!--delete button-->
    </div>
  </section>
  <section class='s-column margin-r-20 margin-l-20 float-l'><!--column B-->
  </section>
  <section class='s-column float-l'><!--column C-->
  </section>
</section>
