<section class='margin-auto'>
    <header class=' padding-t-40 padding-b-40 center'> <!-- header section-->
      <div class='margin-b-20'>
         <p class='blue-c arial head-fonts-size bOld d-inline'>Client</p>
         <p class='black-c arial head-fonts-size bOld d-inline'> Restore Account</p>
      </div>
      <span class='black-c arial art-fonts-size '>This helps show that this account is really belongs to you</span>
      <hr  class='s-hr margin-auto margin-t-20 blue-c'>
    </header>

    <section class='s-main-contaner margin-auto'>
         <header class='padding-b-20'> <!-- steps -->
              <div class='s-step-icon gray-bc center margin-b-20'>
                   <p class='arial titles-fonts-size white-c s-step-num'>1</p>
              </div>
              <p class='arial titles-fonts-size bOld black-c'>Choose a way to send a verification code:</p>
         </header>

    <section id='step2' class=' float-l'> <!-- Container -->
      <div class='s-column float-l'><!-- calumn-A -->
        <label class='s-container black-c art-fonts-size padding-l-40 margin-b-20 border-radius arial'>By Email
          <input type='radio' name='radio'>
          <div class='s-checkmark'></div>
        </label>
        <label class='s-container black-c art-fonts-size padding-l-40 arial'>By SMS
          <input type='radio' name='radio'>
          <img src='../../../assets/Icon/radiobutton.png' class='s-img'>
          <span class='s-checkmark'></span>
        </label>
      </div>
      <div class='s-column float-l margin-r-40 margin-l-40'><!-- calumn-B -->
      </div>
      <div class='s-column float-l'><!-- calumn-C -->
        <button class='s-butt-next p-fonts-size outline-non border-non blue-bc white-c padding-r-20 padding-l-20 float-r shadow-s arial c-pointer' (click)='stepsSwitcher()'>Next</button>
      </div>
      <p class='clear-fix'></p>
    </section>
</section>
