.s-nav{
     height:40px;
}
/*  Holders */
.s-holder-one{
     height: 30px;
     width: 413px;
     padding: 5px 0;
     display: inline-block;
}
.s-holder-user-fun{
     display: inline-block;
     height: 20px;
     width: 180px;
     padding: 10px 0;
}
.s-holder-user-acc{
     display: inline-block;
     height: 30px;
     width: 220px;
     padding: 5px 0;
}
/* Buttons & icons */
.s-inside-logo{
     margin: 5px 40px 5px 0;
     height:20px;
}
.s-search-bar{
     width: 260px;
     height:30px;
     border-radius: 4px 0 0 4px;
}
.s-search-button{
     height:30px;
     width:30px;
     background-image: url("../../assets/Icon/search.png");
     background-position: center;
     background-repeat: no-repeat;
}
.s-nav-icons{
     height: 20px;
     width: 20px;
}
.s-nav-sign-up{
     height:30px;
     width:134px;
     border-radius: 4px 0 0 4px ;
}
.s-nav-sign-up:hover{
     background-color: #9AACFF;
}
.s-sign-up-p{
     margin-top: 2px;
     display: inline-block;
}
.s-sign-up-img{
     margin-bottom: 2px;
}
.s-nav-sign-in{
     height:30px;
     width:86px;
     border-radius: 0 4px 4px 0 ;
}
.s-nav-sign-in:hover{
     background-color: white;
}
