<nav class='s-nav black-bc padding-l-40 padding-r-40'>
     <section class='s-holder-one'> <!-- logo and search -->
          <img class='s-inside-logo float-l' src="assets/Icon/INSIDE-Logo.png">
          <input class=' s-search-bar border-non gray-bc padding-l-20 placeholder-s arial black-c outline-non p-fonts-size float-l' type='text' placeholder="search">
          <button class='border-rad-non border-non blue-bc s-search-button outline-non'></button>
          <p class='clear-fix'></p>
     </section>
     <section class='float-r'> <!-- holder of user Function & user account sections-->
          <section class="s-holder-user-fun margin-r-40 float-l"> <!--user function-->
               <button class='border-rad-non border-non black-bc outline-non s-nav-icons margin-r-20 margin-l-20' >
                    <img src='../assets/Icon/cart.png' title='Cart'>
               </button>
               <button class='border-rad-non border-non black-bc outline-non s-nav-icons margin-r-20 margin-l-20'>
                    <img src='../assets/Icon/store.png' title='Store'>
               </button>
               <button class='border-rad-non border-non black-bc outline-non s-nav-icons margin-r-20 margin-l-20'>
                    <img src='../assets/Icon/avatar.png' title='Character'>
               </button>
          </section>

          <section id='userAccSec' class='s-holder-user-acc holder-three green-bdc'><!--User account -->
               <button id='signUpButt' routerLink='/client-sign-up' class='border-rad-non border-non outline-non s-nav-sign-up blue-bc float-l c-pointer tra-a-1'>
                    <img class='s-nav-icons margin-r-20 margin-l-20 float-l s-sign-up-img' src='../assets/Icon/lock.png'>
                    <p class='white-c margin-r-20 arial p-fonts-size  s-sign-up-p'>Sign Up</p>
               </button>
               <button id='signInButt' routerLink='/client-sign-in' class='float-r border-rad-non border-non outline-non s-nav-sign-in gray-bc c-pointer tra-a-1'>
                    <span class='black-c margin-r-20 margin-l-20 arial p-fonts-size'>Sign in</span>
               </button>
               <p class='clear-fix'></p>
          </section>
          <p class='clear-fix'></p>
     </section>
     <p class='clear-fix'></p>
</nav>
