<header class=' padding-t-40 padding-b-40 center'> <!-- header section-->
     <p class='black-c arial head-fonts-size bOld margin-b-20'>Verification</p>
     <span class='black-c arial art-fonts-size '>Verify your
     <span class='blue-c arial art-fonts-size '>Client </span>
    account
    </span>
     <hr  class='s-hr margin-auto margin-t-20 blue-c'>
</header>

<section class='s-main-contaner margin-auto'>
     <header class='padding-b-20'> <!-- steps -->
          <div class='s-step-icon gray-bc center margin-b-20'>
               <p class='arial titles-fonts-size white-c s-step-num'>1</p>
          </div>
          <p class='arial titles-fonts-size bOld black-c'>User ID</p>
     </header>

     <section id='step2' class=' float-l'> <!-- Container -->
               <div class='s-column float-l'><!-- calumn-A -->
              <input class='s-num-input center margin-r-20 border-non gray-bc outline-non placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='02' type='text'>
              <input class='s-ph-num-input border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='Phone Number' type='text'>
              <input class='s-sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='E-mail' type='text'>
              <button class='s-butt-send-code blue-bc white-c border-non shadow margin-b-20 margin-r-20 arial'>Send Code</button>
              <button class='s-butt-send-code gray-bc blue-c border-non shadow margin-b-20 arial'>Re-Send</button>
              <input class='s-sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='Enter The Verifcation Code' type='text'>
          </div>
          <div class='s-column float-l margin-r-40 margin-l-40'><!-- calumn-B -->
          </div>
          <div class='s-column float-l'><!-- calumn-C -->
            <button class='s-butt-verify p-fonts-size outline-non border-non blue-bc white-c padding-r-20 padding-l-20 float-r shadow-s arial c-pointer' (click)='stepsSwitcher()'>Verify</button>
          </div>
          <p class='clear-fix'></p>
     </section>
</section>
