/* main contaner */
#contentContaner{
     width: 860px;
     overflow: hidden;
}
#stepsSlider{
     position: relative;
     right:0px;
     width: 2620px;
     transform: translate3d(0, 0, 0);
}
.s-main-contaner{
     width: 860px;
     height: 440px;
}
/* header */
.s-step-icon{
     width:70px;
     height:70px;
     border-radius: 50%;
}
.s-step-num{
     padding:20px 0;
}
.errMessages{
     position: relative;
     overflow: hidden;
     width: 500px;
     height:65px;
}
.s-err-mess{
     position: absolute;
     left:-330px;
     width:300px;
     opacity: 1;
     margin-top:15px;
}
.s-hr-steps{
     width: 0px;
     height: 2px;
     margin-top:35px;
}
/* column */
.s-column{
     width:260px;
     height: 300px;
     position: relative;
}
.s-sing-inputs{
     box-sizing: border-box;
     width:260px;
     height: 40px;
     border-radius: 4px;
}
.s-num-input{
  width:40px;
  height: 40px;
  border-radius: 4px;
}
.s-ph-num-input{
  width:160px;
  height: 40px;
  border-radius: 4px;
}
.s-butt-next{
     width: 100px;
     height: 40px;
     position: absolute;
     bottom: 20px;
     right:0;
     border-radius: 4px
}
.s-butt-skip{
     width: 100px;
     height: 40px;
     position: absolute;
     bottom: 20px;
     border-radius: 4px
}
.s-select{
     width: 260px;
     height: 40px;
     border-radius: 4px;
}
.s-butt-add{
     width: 260px;
     height: 40px;
     border-radius: 4px;
     background-image:url('../../../assets/Icon/pipe-plus.png');
     background-repeat: no-repeat;
     background-position: 5% 50%;
}
