/* main contaner */
.s-main-contaner{
     width: 860px;
     height: 440px;
}
/* header */
.s-step-icon{
     width:70px;
     height:70px;
     border-radius: 50%;
}
.s-step-num{
     padding:20px 0;
}
/* .s-hr{
  border: 1px solid #AFED99;
  width: 145px;
} */
/* column */
.s-column{
     width:260px;
     height: 300px;
     position: relative;
}
.s-sing-inputs{
     width:220px;
     height: 40px;
     border-radius: 4px;
}
.s-num-input{
  width:40px;
  height: 40px;
  border-radius: 4px;
}
.s-ph-num-input{
  width:160px;
  height: 40px;
  border-radius: 4px;
}
.s-butt-next{
     width: 100px;
     height: 40px;
     position: absolute;
     bottom: 20px;
     right:0;
     border-radius: 4px
}
.s-butt-skip{
     width: 100px;
     height: 40px;
     position: absolute;
     bottom: 20px;
     border-radius: 4px
}
.s-butt-add{
     width: 260px;
     height: 40px;
     border-radius: 4px;
     background-image:url('../../assets/Icon/pipe-plus.png');
     background-repeat: no-repeat;
     background-position: 5% 50%;
}
