<section class='s-side-menu gray-bc'>
  <section class='s-container'><!--Relation container-->
    <div class='s-relation-wrapper margin-auto padding-t-5 padding-b-5'><!--relation wrapper-->
      <div class='s-menu-icons margin-t-5 float-l'><!--icon-->
        <img src='../../assets/Icon/relation.png' class='s-menu-icons'>
      </div>
      <div class='float-l margin-l-20'><!--paragraph-->
        <p class='arial black bOld titles-fonts-size'>Relation</p>
      </div>
    </div>
  </section>
  <section class='s-container'><!--List search container-->
    <div  class='margin-l-40'><!--List search wrapper-->
      <div class='s-menu-icons margin-t-10 float-l'><!--icon-->
        <img src='../../assets/Icon/b-search.png' class='s-menu-icons'>
      </div>
      <div class='float-l'><!--search input-->
        <input class='s-search-bar border-non transparent-bc padding-l-20 padding-t-5 placeholder arial black-c outline-non art-fonts-size' type='text' placeholder="List Search">
      </div>
    </div>
  </section>
  <section class='s-item-container'><!--Friend Requests container-->
    <div class='s-item-wrapper margin-l-40 padding-t-10'><!--wrapper-->
      <div class=' float-l s-menu-icons '><!--icon-->
        <img src='../../assets/Icon/f-request.png' class='s-menu-icons'>
      </div>
      <div class='float-l'><!--paragraph-->
        <p class='margin-l-20 arial black-c art-fonts-size'>Friend Requests</p>
      </div>
    </div>
  </section>
  <section class='s-item-container'><!--All container-->
    <div class='s-item-wrapper margin-l-40 padding-t-10'><!--wrapper-->
      <div class=' float-l s-menu-icons '><!--icon-->
        <img src='../../assets/Icon/all.png' class='s-menu-icons'>
      </div>
      <div class='float-l'><!--paragraph-->
        <p class='margin-l-20 arial black-c art-fonts-size'>All</p>
      </div>
    </div>
  </section>
  <section class='s-item-container'><!--Family List container-->
    <div class='s-item-wrapper margin-l-40 padding-t-10'><!--wrapper-->
      <div class=' float-l s-menu-icons '><!--icon-->
        <img src='../../assets/Icon/fam-l.png' class='s-menu-icons'>
      </div>
      <div class='float-l'><!--paragraph-->
        <p class='margin-l-20 arial black-c art-fonts-size'>Family List</p>
      </div>
    </div>
  </section>
  <section class='s-item-container'><!--Friend List container-->
    <div class='s-item-wrapper margin-l-40 padding-t-10'><!--wrapper-->
      <div class=' float-l s-menu-icons '><!--icon-->
        <img src='../../assets/Icon/fri-l.png' class='s-menu-icons'>
      </div>
      <div class='float-l'><!--paragraph-->
        <p class='margin-l-20 arial black-c art-fonts-size'>Friend List</p>
      </div>
    </div>
  </section>
  <button class='s-butt-list margin-auto art-fonts-size outline-non border-non green-bc white-c padding-r-20 padding-l-20 arial'>New List</button><!--New list button-->
