<section class='s-side-menu gray-bc padding-t-20 margin-r-100'>
  <section class='margin-l-40'><!--Relation-->
    <div class='s-menu-icons float-l'><!--icon-->
      <img src='../../assets/Icon/relation.png' class='s-menu-icons'>
    </div>
    <div class='float-l'><!--paragraph-->
      <p class='arial black bOld art-fonts-size margin-l-20'>Relation</p>
    </div>
  </section>
  <section  class='margin-t-60 margin-l-20 red-bc'><!--List search-->
    <div class='s-menu-icons margin-t-15 float-l'><!--icon-->
      <img src='../../assets/Icon/b-search.png' class='s-menu-icons'>
    </div>
    <div class='float-l'><!--search input-->
      <input class='s-search-bar border-non transparent-bc padding-l-20 placeholder-s arial black-c outline-non p-fonts-size' type='text' placeholder="List Search">
    </div>
  </section>
  <p class='clear-fix'></p>
  <section class='s-item-wrapper margin-t-20 padding-l-20'><!--Friend Requests-->
    <div class=' float-l s-menu-icons margin-t-20'><!--icon-->
      <img src='../../assets/Icon/f-request.png' class='s-menu-icons'>
    </div>
    <div class='float-l'><!--paragraph-->
      <p class='margin-l-20 arial black-c p-fonts-size margin-t-20'>Friend Requests</p>
    </div>
  </section>
  <p class='clear-fix'></p>
  <section class='s-item-wrapper margin-t-20 padding-l-20'><!--All-->
    <div class=' float-l s-menu-icons margin-t-20'><!--icon-->
      <img src='../../assets/Icon/all.png' class='s-menu-icons'>
    </div>
    <div class='float-l'><!--paragraph-->
      <p class='margin-l-20 arial black-c p-fonts-size margin-t-20'>All</p>
    </div>
  </section>
  <p class='clear-fix'></p>
  <section class='s-item-wrapper margin-t-20 padding-l-20'><!--Family List-->
    <div class=' float-l s-menu-icons margin-t-20'><!--icon-->
      <img src='../../assets/Icon/fam-l.png' class='s-menu-icons'>
    </div>
    <div class='float-l'><!--paragraph-->
      <p class='margin-l-20 arial black-c p-fonts-size margin-t-20'>Family List</p>
    </div>
  </section>
  <p class='clear-fix'></p>
  <section class='s-item-wrapper margin-t-20 padding-l-20'><!--Friend List-->
    <div class=' float-l s-menu-icons margin-t-20'><!--icon-->
      <img src='../../assets/Icon/fri-l.png' class='s-menu-icons'>
    </div>
    <div class='float-l'><!--paragraph-->
      <p class='margin-l-20 arial black-c p-fonts-size margin-t-20'>Friend List</p>
    </div>
  </section>
  <p class='clear-fix'></p>
  <button class='s-butt-list margin-auto margin-t-40 p-fonts-size outline-non border-non green-bc white-c padding-r-20 padding-l-20 arial'>New List</button><!--New list button-->
</section>
