<nav class='gray-bc s-controller-bar padding-r-20 padding-l-10 margin-b-40'>
  <section class='s-holder-one float-l'> <!-- icon and search -->
       <img src='../../assets/Icon/b-search.png'title='search' class='float-l s-img-icon margin-t-5'>
       <input class='s-search-bar border-non gray-bc padding-l-10 placeholder-s arial black-c outline-non p-fonts-size' type='text' placeholder="Friend Search">
       <p class='clear-fix'></p>
  </section>
  <section class='s-holder-user-fun float-r margin-r-40'> <!-- holder of user Controller-->
            <section class=' red-bc s-con-button margin-r-20 padding-l-20 padding-t-10 float-l'><!--Privacy-->
               <div class='float-l'>
                 <img src='../assets/Icon/privacy.png' title='Privacy' class='s-img-icon'>
               </div>
               <div class='float-l margin-l-10'>
                 <p class='arial black-c p-font-size'>Privacy</p>
               </div>
            </section>
            <section class=' red-bc s-con-button margin-r-20 padding-l-20 padding-t-10 float-l'><!--Select-->
               <div class='float-l'>
                 <img src='../assets/Icon/select.png' title='Select' class='s-img-icon'>
               </div>
               <div class='float-l margin-l-10'>
                 <p class='arial black-c p-font-size'>Select</p>
               </div>
            </section>
            <section class=' red-bc s-con-button margin-r-20 padding-l-20 padding-t-10 float-l'><!--clear-->
               <div class='float-l'>
                 <img src='../assets/Icon/clear.png' title='Clear' class='s-img-icon'>
               </div>
               <div class='float-l margin-l-10'>
                 <p class='arial black-c p-font-size'>Clear</p>
               </div>
            </section>
            <p class='clear-fix'></p>
   </section>
   <p class='clear-fix'></p>
</nav>
