/* main bar */
.s-controller-bar{
  height:40px;
  margin-left: 240px;
}
/* Holders*/
.s-holder-one{
     height: 40px;
     width: 320px;
}
.s-holder-user-fun{
     height: 40px;
     width: 430px;
     background: yellow;
}
/* holders ===END=== */
/* global */
.s-img-icon{
  width: 30px;
  height:30px;
}
/* search section*/
.s-search-bar{
     width: 260px;
     height:40px;
}
/* controller button */
.s-con-button{
     width: 110px;
     height: 30px;
}
