<nav class='gray-bc s-controller-bar padding-r-20 padding-l-40'>
  <section class='s-holder-one float-l'> <!-- icon and search -->
     <button title='search' class='float-l s-img-icon transparent-bc outline-non border-non margin-t-5'>
       <img src='../../assets/Icon/b-search.png' class='s-img-icon'>
     </button>
     <input class='float-l s-search-bar border-non gray-bc padding-l-10 placeholder art-fonts-size arial black-c outline-non margin-l-10' type='text' placeholder='Friend Search'>
     <!-- <p class='clear-fix'></p> -->
  </section>
  <section class='float-r s-holder-user-fun margin-r-40'>
    <section class='s-con-button padding-r-10 padding-l-10 padding-t-5 padding-b-5 float-l'><!--Privacy-->
       <div class='float-l'><!--icon-->
         <img src='../assets/Icon/privacy.png' title='Privacy' class='s-img-icon'>
       </div>
       <div class='float-l margin-l-10 margin-t-5'><!--paragraph-->
         <p class='arial black-c art-fonts-size'>Privacy</p>
       </div>
    </section>
    <section class='s-con-button padding-r-10 padding-l-10 padding-t-5 padding-b-5 float-l margin-r-20 margin-l-20'><!--Select-->
       <div class='float-l'><!--icon-->
         <img src='../assets/Icon/select.png' title='Select' class='s-img-icon margin-l-5'>
       </div>
       <div class='float-l margin-l-10 margin-t-5'><!--paragraph-->
         <p class='arial black-c art-fonts-size'>Select</p>
       </div>
    </section>
    <section class='s-con-button padding-r-10  padding-l-10 padding-t-5 padding-b-5 float-l'><!--clear-->
       <div class='float-l'><!--icon-->
         <img src='../assets/Icon/clear.png' title='Clear' class='s-img-icon margin-l-5'>
       </div>
       <div class='float-l margin-l-10 margin-t-5'><!--paragraph-->
         <p class='arial black-c art-fonts-size'>Clear</p>
       </div>
    </section>
  </section>
</nav>
