<section  class='s-container gray-bc padding-20'><!--container-->
  <section class='s-column float-l margin-l-10 green-bc'><!--column A-->
    <div class='white-bc s-object shadow margin-b-20'><!--white background object-->
      <div class='s-more gray-bc border-non float-r'>
        <img class='margin-t-10 margin-l-10' src='../../assets/Icon/more.png'><!--more icon-->
      </div>
      <div class='gray-bc s-object shadow margin-b-20 s-object-opacity'><!--gray front object-->



      </div>
    </div>






  </section>
  <section class='s-column margin-r-20 margin-l-20 float-l red-bc'><!--column B-->
  </section>
  <section class='s-column float-l margin-r-10 blue-bc'><!--column C-->
  </section>
</section>
