/* main */
.s-container{
  width:880px;
  height:880px;
}
.s-column{
  width:280px;
  height:900px;
}
/* Object ===START==  */
/* main Object */
.s-object{
  width:280px;
  height:140px;
  border-radius: 0px 20px 20px;
  background: rgba(238,238,238,0.27);
  overflow:auto;
}
.s-more{
  width:30px;
  height:30px;
  border-radius: 0 20px 0 0;
  box-shadow: 1px 1px 5px  #ccc;
}
.s-circle{
  width: 10px;
  height:10px;
  border-radius: 50%;
}
/* .obj-shadow{
  box-shadow:   0px 1px 4px  rgba(0,0,0,0.16);
} */
/* image and client data wrapper */
.s-content-wrapper{
  width:210px;
  height: 80px;
}
/* object content */
/* client image */
.s-client-img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
/* paragraph font color */
.s-p-color{
  color:#707070;
}
/* lable */
.s-lable{
   width:100px;
   height:25px;
   border-radius:20px 20px 20px 0px;
   background:#0079BF;
}
