<section class='margin-auto'>
    <header class=' padding-t-40 padding-b-40 center'> <!-- header section-->
      <div class='margin-b-20'>
         <p class='blue-c arial head-fonts-size bOld d-inline'>Client</p>
         <p class='black-c arial head-fonts-size bOld d-inline'> Restore Account</p>
      </div>
      <span class='black-c arial art-fonts-size '>This helps show that this account is really belongs to you</span>
      <hr  class='s-hr margin-auto margin-t-20 blue-c'>
    </header>

    <section class='s-main-contaner margin-auto'>
         <header class='padding-b-20'> <!-- steps -->
              <div class='s-step-icon gray-bc center margin-b-20'>
                   <p class='arial titles-fonts-size white-c s-step-num'>1</p>
              </div>
              <p class='arial titles-fonts-size bOld black-c'>Choose a way to send a verification code:</p>
         </header>

    <section id='step2' class=' float-l'> <!-- Container -->
      <div class='s-column float-l'><!-- calumn-A -->
        <input class='s-sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20 arial' placeholder='Enter verification code' type='text'>
        <p class='black-c art-fonts-size margin-r-10 d-inline arial'>No code ?</p>
        <a href='#' class='blue-c art-fonts-size a-no-underline arial'>Resend</a>
      </div>
      <div class='s-column float-l margin-r-40 margin-l-40'><!-- calumn-B -->
      </div>
      <div class='s-column float-l'><!-- calumn-C -->
        <button class='s-butt-verify p-fonts-size outline-non border-non blue-bc white-c padding-r-20 padding-l-20 float-r shadow-s arial c-pointer' (click)='stepsSwitcher()'>Verify</button>
      </div>
      <p class='clear-fix'></p>
    </section>
</section>
