/* Body Color */
.s-body-color{
  background-color: rgba(170,246,144,0.1);
}
/* Header */
.s-hr{
     width:140px;
     border: 1px solid #EEE;
}
/* content */
.s-img-right{
  display: block;
}
.s-butt-welcome{
     display: block;
     width: 100px;
     height: 40px;
     bottom: 20px;
     border-radius: 4px;
}
