<header class=' padding-t-40 padding-b-40 center'> <!-- header section-->
     <p class='black-c arial head-fonts-size bOld margin-b-20'>Verification</p>
     <span class='black-c arial art-fonts-size '>Verify your
     <span class='blue-c arial art-fonts-size '>Client </span>
    account
    </span>
     <hr  class='s-hr margin-auto margin-t-20 blue-c'>
</header>

<section class='s-main-contaner margin-auto'> <!-- Container -->
     <img src='../../assets/Icon/right.png' class='margin-auto margin-t-40 s-img-right'>
     <button class='s-butt-welcome margin-auto margin-t-40 p-fonts-size outline-non border-non green-bc white-c padding-r-20 padding-l-20 shadow-s arial c-pointer' (click)='stepsSwitcher()'>Welcome</button>
</section>
